<!-- Animated Background -->
    <div class="lm-animated-bg" style="background-image: url(img/main_bg.png);"></div>
    <!-- /Animated Background -->

    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

    <div class="page">
      <div class="page-content">
          <header id="site_header" class="header mobile-menu-hide">

            <div class="header-content">
              <div class="header-photo">
                <img src="img/main_photo.jpg" alt="Alex Smith">
              </div>
              <div class="header-titles">
                <h2>Alex Smith</h2>
                <h4>Web Designer</h4>
              </div>
            </div>

            <ul class="main-menu">
              <li class="active">
                <a class="nav-anim" routerLink="">
                  <span class="menu-icon lnr lnr-home"></span>
                  <span class="link-text">Home</span>
                </a>
              </li>

              <li>
                <a class="nav-anim" [routerLink]='aproposvar'>
                  <span class="menu-icon lnr lnr-user"></span>
                  <span class="link-text">About Me</span>
                </a>
              </li>

              <li>
                <a  class="nav-anim" routerLink="formations">
                  <span class="menu-icon lnr lnr-graduation-hat"></span>
                  <span class="link-text">Resume</span>
                </a>
              </li>

              <li>
                <a class="nav-anim" routerLink="portfolio">
                  <span class="menu-icon lnr lnr-briefcase"></span>
                  <span class="link-text">Portfolio</span>
                </a>
              </li>

              <li>
                <a href="#!" class="nav-anim" routerLink="blog">
                  <span class="menu-icon lnr lnr-book"></span>
                  <span class="link-text">Blog</span>
                </a>
              </li>

              <li>
                <a href="#!" class="nav-anim" routerLink="contact">
                  <span class="menu-icon lnr lnr-envelope"></span>
                  <span class="link-text">Contact</span>
                </a>
              </li>

              <li>
                <a href="#!" class="nav-anim" routerLink="admin">
                  <span class="menu-icon lnr lnr-envelope"></span>
                  <span class="link-text">Admin</span>
                </a>
              </li>
            </ul>

            <div class="social-links">
              <ul>
                <li><a href="#" target="_blank"><i class="fa fa-linkedin-in"></i>1</a></li>
                <li><a href="#" target="_blank"><i class="fa fa-facebook-f"></i>2</a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i>3</a></li>
              </ul>
              <div class="">
                <a href="#!" routerLink="new/user">Inscription</a>
              </div>
              <div>
                  <a href="#!" routerLink="login/user">Login</a>
              </div>
            </div>

            <div class="header-buttons">
              <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
            </div>

            <div class="copyrights">© 2020 All rights reserved.</div>
          </header>

          <!-- Mobile Navigation -->
          <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- End Mobile Navigation -->

          <div class="content-area">

            <div class="animated-sections">

                <router-outlet></router-outlet>

            </div>
          </div>

      </div>
    </div>
